.align{
  #align-text{ font-size: 50px; transform: translateY(-100%)}
  .align-button-group{
    display: flex;
    width: 550px;
    justify-content: space-evenly;
      button{
        background: transparent;
        color: #08f000;
        font-size: 38px;
        cursor: pointer;
        border: 2px dotted;
    }
  }
}