.counter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  .counter-button-group{
    display: flex;
    width: 550px;
    justify-content: space-evenly;
    
    button{
      background: transparent;
      color: #08f000;
      border: none;
      font-size: 26px;
      cursor: pointer;
      border: 2px dotted;
    }
  }
  #counter-text{
      transform: translateY(-85%);
      font-size: 56px;
      font-family: 'Press Start 2p', cursive;
      }
}